.clients {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 768px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.card-clients {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0 0 -30px -30px;
}
.card-clients__list {
  margin: 0 0 30px 30px;
  @media screen and (min-width: 768px) {
    width: 226px;
  }
  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}
.card-clients__icon {
  width: 106px;
  height: 60px;
}
.card-clients__logo {
  transition: fill 250ms $cubic, border 250ms $cubic;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 92px;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  &:hover,
  &:focus {
    fill: $accent;
    border: 1px solid $accent;
  }
  @media screen and (min-width: 768px) {
    width: 226px;
  }
  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}
