.footer-connect {
  margin: 0;
  padding: 0;
}
.footer-connect__title {
  font-family: $primary-font;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  padding: 0;
  margin: 0 0 14px 0;
  color: $primary-bg-color;
  text-align: center;
}
.footer-form {
  text-align: center;
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.footer-form__button {
  transition: background-color 250ms $cubic;
  width: 200px;
  height: 50px;
  font-family: $primary-font;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: $primary-bg-color;
  background-color: $accent;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 12px;
  text-align: center;

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}

.footer-form__email {
  padding: 15px 0 15px 16px;
  width: 280px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
  text-align: start;
  margin-bottom: 20px;
  @media screen and (min-width: 480px) {
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
  }
}

.footer-form__icons {
  width: 24px;
  height: 24px;
  fill: #ffffff;
  margin-left: 10px;
}
