.header {
  border-bottom: 1px solid #ececec;
  height: 50px;
  align-items: center;

  @media screen and (min-width: 480px) {
    height: 60px;
  }

  @media screen and (min-width: 768px) {
    height: 80px;
  }
}
.header-second {
  min-height: 60px;
  align-items: center;
  display: flex;
}
