.portfolio {
  background-color: $primary-bg-color;
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.first {
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-bottom: -8px;

  @media screen and (min-width: 768px) {
    justify-content: center;
  }

  @media screen and (min-width: 1200px) {
  }
}
.first__filtr {
  margin-left: 8px;
  margin-bottom: 8px;
  @media screen and (min-width: 768px) {
  }
}

.first__button {
  transition: background-color 250ms $cubic, color 250ms $cubic,
    box-shadow 250ms $cubic;
  background-color: #f5f4fa;
  padding: 6px 22px;
  border-radius: 0;
  border: transparent;
  &:hover,
  &:focus {
    background-color: $accent;
    color: $primary-bg-color;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }
}

.currents {
  color: $primary-bg-color;
  background-color: $accent;
}
