a {
  text-decoration: none;
}
img {
  display: block;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
body {
  font-family: $primary-font;
  letter-spacing: 0.03em;
  color: $primary-text-color;
  background-color: $primary-bg-color;
}
.conteiner {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}
.section {
  display: block;
}
.conteiner__title {
  color: $title-text-color;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}
