$primary-text-color: #757575;
$title-text-color: #212121;
$accent: #2196f3;
$primary-bg-color: #ffffff;
$secondary-bg-color: #2f303a;
$backdrop-color: rgba(0, 0, 0, 0.2);
$primary-font: Roboto, sans-serif;
$secondary-font: Raleway, sans-serif;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
